*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #d6d6d6;
  padding: 15px;
}

#root{
  display: flex;
  gap: 10px;
}

.footer-deva{
  height: 80px;
}

.navbar{
  height: 80px;
}

@media only screen and (max-width: 768px) {
  #root{
    flex-direction: column;
  }
  .left-div{
    width: 100%;
  }

  .right-div{
    width: 100%;
  }
}